#wheel{
    border:1px solid #d3d3d3;
    background-color: #f1f1f1;
    display: inline

}
#game-area{
    margin: auto;
    width: 80%;
    text-align: center;
    border:1px solid #d3d3d3;
    background-color: #f1f1f1;
}